
body {
    background-color: antiquewhite;
}

nav {
    margin: auto;
    width: 50%;
    text-align: center;
}

ul#pages li {
    display: inline;
    padding-right: 8px;
}

main {
    margin: auto;
    width: 80%;
    text-align: center;
    align-content: center;
}

main > article> ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    /* align-items: center; */
    list-style-type: square;
    list-style-position: inside;
    /* padding-left: 20px; */
}

main > article> ul > li {
    border: 2px solid #743ad5;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-left: 5px;
}

main>article>p {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    display: block;
    text-indent: 1em;   
}

section {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

section>article>p {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    display: block;
    text-indent: 1em;   
}

section> article > ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    list-style-type: square;
    padding-left: 150px;
}

section> article > ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
}

div.img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li> div.img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

p.img-description {
    text-align: center;

    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 4px solid black;
    border-bottom: 0px;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p.product-detail {
    text-align: center;

    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
    border-top: 0px;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

img{
    border: 4px solid lightblue;
    border-radius: 16px;
    box-shadow: 10px 10px 5px 2px gray;
    /* box-shadow parametreleri sırayla : horizontal, vertical, blur radius, spread radius, color */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

address {
    border: 2px solid rgb(65, 20, 107);
    border-radius: 8px;
    box-shadow: 4px 4px 2px 2px gray;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

address > p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

address > ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    list-style-type: square;
}

h1, h2, h3 {
    text-align: center;
}

footer{
    margin: auto;
    width: 50%;
    text-align: center; 
}